# ignore 下面结尾的文件
*.a
*.o
*.pth
*.pt
*.md
*.jpg
*.png
*.zip
*.npy
*.mp4
*.avi
*.txt
*.cache

# dir 不需要提交的目录
/key_point/mmskeleton
/key_point/movenet_pytorch
/key_point/movenet_pytorch
/key_point/openpose
/key_point/pyskl

# Package Files 不需要提交的任意包含后缀名为jar的文件
*.jar

# log 不需要提交的任意包含后缀名为log的文件
*.log